html, body{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    margin-right: 0;
}
.side{
    background-image: url("Vinland.jpg");
    height: 100%;
    width: 80%;
    background-size: cover;
}
.odin{
    width: 60px;
    height: 75px;
    margin: 0;
    margin-left: 25%;
}
.logo{
    opacity: 80%;
    background-color: black;
}
.background{
    display: flex;
    flex-direction: row;
    -ms-flex-item-align: center;
    margin-top: 35%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
